<p>Voici tous les article: </p>
<% @all_articles.each do |article| %>
<p>
<a href='/articles/<%= article.id %>'><%= article.title %></a>
    <% if article.category %>
    (<%= article.category.title   %>)
<% end %>
</p>
<% end %>


<%= form_tag "/articles", method: "post" do %>
  <input type="text" name="title" placeholder="title"/>
    <select name="category_id">
      <% @categories.each do |category| %>
    <option value="<%= category.id %>"><%= category.title %></option>
  <% end %>
    </select>
  <input type="submit" value="Ajouter l'article" />
<% end %>